.tabs {
	display: flex;
	padding: 12px 12px 0;
	background-color: #222;
}

.tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 8px;
	padding: 12px;
	width: 200px;
	border-radius: 12px 12px 0 0;
	min-width: 0;

	&.active {
		background-color: #333;
	}

	&.inactive {
		margin: 0 0 8px;
		padding: 8px 12px;
		border-radius: 8px;
		transition: background-color 100ms ease-in-out;

		&:hover {
			background-color: #444;
		}
	}
}

.title {
	color: #bbb;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
	white-space: nowrap;
}

.controls {
	display: flex;
	gap: 6px;
	margin-left: auto;

	.btn {
		width: 18px;
		height: 18px;
		border-radius: 50%;

		&.maximize {
			background: #3ad063;
			margin-left: 24px;
		}

		&.minimize {
			background: #f4c542;
		}

		&.close {
			background: #f45b5b;
		}

		transition: filter 0.2s ease;

		&:hover {
			filter: brightness(75%);
		}
	}
}
