.tabs {
	display: flex;
	padding: 12px 12px 0;
	background-color: #222;
}

.tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
	width: 200px;
	background-color: #333;
	border-radius: 12px 12px 0 0;
}

.title {
	color: #bbb;
	user-select: none;
}

.controls {
	display: flex;
	gap: 6px;
	margin-left: auto;

	.btn {
		width: 18px;
		height: 18px;
		border-radius: 50%;

		&.maximize {
			background: #3ad063;
		}

		&.minimize {
			background: #f4c542;
		}

		&.close {
			background: #f45b5b;
		}

		transition: filter 0.2s ease;

		&:hover {
			filter: brightness(75%);
		}
	}
}
