/* colors */
$color-bg-dark: #8586ec;
$color-text-primary: #5830b4;

$color-blue-gray-xxlight: #aab7d3;
$color-blue-gray-xlight: #6c7996;
$color-blue-gray-light: #2b364d;
$color-blue-gray: #1c1f25;
$color-blue-white: #dae0ec;
$color-off-white: #faf9f6;
$color-link-hover: #7147e2;

// $color-primary: #5830b4;
// $color-bg-light: #ffffff;
// $color-bg: #f4f6f9;
// $color-text-primary: #333333;
// $color-text-secondary: #666666;
// $color-link-hover: #7147e2;

/* text sizing */
$font-base-size: 16px;
$font-xs: 1rem;
$font-sm: 1.5rem;
$font-md: 2rem;
$font-lg: 2.5rem;
$font-xl: 3rem;
$font-xxl: 4rem;

/* spacing */
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 4rem;
$space-xxl: 6rem;

/* border radius */
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;

/* shadow */
$shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 6px rgba(0, 0, 0, 0.2);
$shadow-dark: 0 6px 8px rgba(0, 0, 0, 0.3);

/* type */
$font-family-base: 'Rbk6-Regular', sans-serif;

/* a11y */
$color-focus-outline: #63b7f6;
