/* colors */

/* text sizing */
$font-base-size: 16px;
$font-xs: 1rem;
$font-sm: 1.5rem;
$font-md: 2rem;
$font-lg: 2.5rem;
$font-xl: 3rem;
$font-xxl: 4rem;

/* spacing */
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 4rem;
$space-xxl: 6rem;

/* border radius */
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;

/* shadow */
$shadow-light: 0 2px 4px rgb(0 0 0 / 10%);
$shadow-md: 0 4px 6px rgb(0 0 0 / 20%);
$shadow-dark: 0 6px 8px rgb(0 0 0 / 30%);

/* type */
$font-family-base: 'Rbk6-Regular', sans-serif;
