.browser {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1300px;
	height: 100%;
	max-height: 1100px;
	min-width: 300px;
	background-color: #c5c5df;
	position: relative;
	margin: 92px auto auto auto;
	border-radius: 10px;
	padding: 0;
	transition:
		margin 100ms ease-in-out,
		max-height 250ms ease-in-out;

	@media (max-width: 768px) {
		max-width: 100%;
		max-height: 100%;
		border-radius: 0;
		margin: 0;
	}
}

.content {
	overflow-x: hidden;
	overflow-y: auto;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
}
