@use '../../styles/variables';

/* outer browser wrapper */
.wrapper {
	margin-top: 48px;
	width: 90vw;
	min-width: 600px;
	overflow-x: hidden;

	transition:
		margin-top 300ms ease-in-out,
		width 300ms ease-in-out;

	&.maximized {
		margin-top: 0;
		width: 100vw;

		transition:
			margin-top 300ms ease-in-out,
			width 300ms ease-in-out;

		.browser-top {
			border-radius: 0;
			transition: border-radius 500ms ease;
		}
	}
}

/* top portion */
.browser-top {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	background-color: $color-blue-gray;

	button.window {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-right: $space-md;

		&.maximize {
			background-color: green;
			&:hover {
				background-color: darkgreen;
			}
		}

		&.minimize {
			background-color: orange;
			&:hover {
				background-color: darkorange;
			}
		}

		&.close {
			background-color: red;
			margin-right: $space-lg;
			&:hover {
				background-color: darkred;
			}
		}
	}
}

/* tabs */
nav.header {
	color: $color-blue-white;

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		align-items: center;
		height: 64px;
		background-color: $color-blue-gray;
		overflow-x: scroll;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}

		li.tab {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			overflow: visible;
			position: relative;
			min-width: 64px;
			max-width: 320px;
			width: auto;
			border-top-right-radius: 24px;
			border-top-left-radius: 24px;
			background-color: $color-blue-gray-light;
			font-size: $font-md;
			margin-left: 12px;

			&.active {
				height: 64px;
			}

			&.inactive {
				border-radius: 12px;
				background-color: $color-blue-gray;
				height: 48px;

				&:hover {
					background-color: $color-blue-gray-light;
					transition: background-color ease-in-out 300ms;
				}
			}

			button.select-tab {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-top-right-radius: 24px;
				border-top-left-radius: 24px;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				text-overflow: clip;
				white-space: nowrap;
				overflow: hidden;

				padding-left: 12px;
				&.hide-text {
					font-size: 0;
				}
			}

			button.x {
				position: absolute;
				right: 10px;
				height: 32px;
				width: 32px;
				border-radius: 50%;

				&:hover {
					background-color: $color-blue-gray-xlight;
				}
			}

			p.pipe {
				position: absolute;
				right: -8px;

				&.hide {
					display: none;
				}

				@media (max-width: 180px) {
					button.select-tab {
						padding-left: 0;
						font-size: 0;
					}
				}
			}
		}

		li.create-tab {
			flex: 0 0 auto;
			margin: 0 12px;
			height: 64px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: sticky;
			right: 0;
			background-color: $color-blue-gray;
			z-index: 10;

			button {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				font-size: $font-md;

				&:hover {
					background-color: $color-blue-gray-xlight;
				}
			}
		}

		li:first-of-type {
			margin-left: 24px !important;
		}
	}
}

/* address bar */
.address-bar {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: $color-blue-gray-light;

	.side-btns {
		display: flex;
		margin-left: 24px;
		button {
			font-size: $font-md;
			height: 18px;
			width: 32px;
			padding: 4px 4px 16px 4px;
			position: relative;

			img {
				margin-top: 12px;
				width: 24px;
			}

			&:disabled {
				color: gray;
				&:hover {
					background-color: transparent;
				}
			}

			&:hover {
				background-color: $color-blue-gray-xlight;
				border-radius: 50%;
			}
		}

		&.left {
			margin-right: 12px;
		}

		&.right {
			padding-left: 12px;
			margin-left: auto;
			margin-right: 24px;
		}
	}
}

.bar {
	all: unset;
	background-color: $color-blue-gray;
	width: 100%;
	height: 48px;
	border-radius: 36px;
	font-size: $font-sm;
	padding: 0 24px;
	text-align: left;
}
