.address-bar {
	display: flex;
	padding: 12px 0;
	background-color: #333;
	align-items: center;
}

.btn {
	color: #888;
	font-size: 18px;

	display: flex;
	justify-content: center;
	flex-shrink: 0;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover:not(.disabled) {
		background-color: #444;
	}
}

.left {
	display: flex;
	justify-content: flex-start;
	transition: width 200ms ease-in-out;

	.btn {
		width: 40px;
		margin: 0 2px;
		border-radius: 50%;

		&.back,
		&.forward {
			height: 36px;
			padding-top: 4px;
		}

		&.refresh {
			filter: opacity(0.6);
			padding-top: 12px;
			height: 28px;
		}

		&.back {
			margin-left: 12px;
		}

		img {
			width: 16px;
			height: 16px;
		}
	}
}

.address {
	flex: 1;
	display: flex;
	align-items: center;
	width: 36px;
	height: 36px;
	margin: 0 12px;
	padding: 0;
	border-radius: 24px;
	background-color: #888;
	min-width: 0;
	transition: margin 100ms ease-in-out;

	.link {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 0;
		padding: 0;
		display: block;
		margin: 0 24px;
	}
}

.right {
	display: flex;
	justify-content: flex-end;

	.btn {
		width: 32px;
		height: 32px;
		margin-right: 12px;
		border-radius: 50%;
	}
}
