.address-bar {
	display: flex;
	padding: 12px 0;
	background-color: #333;
}

.left {
	width: 10%;
	display: flex;
	justify-content: center;

	.btn {
		width: 32px;
		height: 32px;
		margin: 0 2px;
		border-radius: 50%;

		&:hover {
			background-color: #444;
		}
	}
}

.address {
	width: 80%;
	padding: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	border-radius: 24px;
	background-color: #888;

	.link {
		padding-left: 24px;
	}
}

.right {
	width: 10%;
	display: flex;
	justify-content: flex-end;

	.btn {
		width: 32px;
		height: 32px;
		margin-right: 12px;
		border-radius: 50%;

		&:hover {
			background-color: #444;
		}
	}
}
