.bookmarks {
	display: flex;
	padding: 0 12px 8px 0;
	background-color: #333;
}

.bookmark {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	background-color: #444;
	border-radius: 20px;
	margin-left: 12px;

	&:hover {
		background-color: #555;
	}
}
