@font-face {
	font-family: 'Rbk6-Regular';
	src:
		url('./assets/fonts/Rbk6-Regular.woff2') format('woff2'),
		url('./assets/fonts/Rbk6-Regular.woff') format('woff'),
		url('./assets/fonts/Rbk6-Regular.ttf') format('truetype'),
		url('./assets/fonts/Rbk6-Regular.eot') format('embedded-opentype'),
		url('./assets/fonts/Rbk6-Regular.svg#Rbk6-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

* {
	font-family: 'Rbk6-Regular', sans-serif;
}

body {
	visibility: hidden;
	opacity: 0;
	transform: scale(1.05);
	transition:
		opacity 0.5s ease-in-out,
		transform 1s ease-out;
}

body.loaded {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

:root {
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #2e2c3b;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
